[mysql]
  dbname    = "{{ .Env.DB_NAME }}"
  host      = "{{ env.Getenv "DB_HOST" "localhost" }}"
  port      = {{ env.Getenv "DB_PORT" "3306" }}
  user      = "{{ env.Getenv "DB_USER" "root" }}"
  pass      = "{{ env.Getenv "DB_PASSWORD" "password" }}"
  sslmode   = "{{ env.Getenv "DB_SSL_MODE" "false" }}"
  blacklist = [
    "*.created_at",
    "*.updated_at",
  ]

# go-sqlmock 의존성을 추가하고 에러 패키지를 pkg/errors로 통일하기 위한 설정
# See also https://github.com/volatiletech/sqlboiler#imports
[imports.all]
  third_party = [
    '"github.com/DATA-DOG/go-sqlmock"',
    '"github.com/pkg/errors"',
    '"github.com/volatiletech/sqlboiler/v4/boil"',
    '"github.com/volatiletech/sqlboiler/v4/queries"',
    '"github.com/volatiletech/sqlboiler/v4/queries/qm"',
    '"github.com/volatiletech/sqlboiler/v4/queries/qmhelper"',
    '"github.com/volatiletech/strmangle"',
  ]

[imports.singleton."boil_queries"]
  third_party = [
    '"github.com/volatiletech/sqlboiler/v4/drivers"',
    '"github.com/volatiletech/sqlboiler/v4/queries"',
    '"github.com/volatiletech/sqlboiler/v4/queries/qm"',
  ]

[imports.singleton."boil_types"]
  standard = ['"strconv"']
  third_party = [
    '"github.com/pkg/errors"',
    '"github.com/volatiletech/sqlboiler/v4/boil"',
    '"github.com/volatiletech/strmangle"',
  ]

# MySQL INTEGER can be represented in 32 bits.
# See also https://dev.mysql.com/doc/refman/5.7/en/integer-types.html
[[types]]
  [types.match]
    type = "null.Int"
    nullable = true
  [types.replace]
    type = "null.Int32"

[[types]]
  [types.match]
    type = "int"
  [types.replace]
    type = "int32"
